@charset "utf-8";
/* CSS Document */
body{
  background-image: url('https://aymans15.github.io/News_App/Backgrounds/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
h1{
	margin:0px;
	padding:0px;
	color:white;
}
.container{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	
}

.box{
	width:262px;
	height:457px;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
	backdrop-filter: blur(30px);  /* This will produce the blur */

}
.box:hover{
	transition: linear 0.2s;
	backdrop-filter: blur(30px);  /* This will produce the blur */

}
.model{
	height: 262px;
	margin-top: 30px;
	max-height: 100%;
	max-width: 100%;
}

.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 262px;

}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:#FFFFFF;
	text-align: center;
	font-size:20px;
	margin-top: 20px;

}
.marvel{
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.logo{
	height: 60px;
}


/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}

